<header class="site-header">
  <div class="wrapper">
    <a href="<%- site.root %>" class="site-title" rel="author"><%- site.title %></a>
    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger">
      <div class="trigger"><a class="page-link" href="<%- site.root %>/about.html">About</a></div>
    </nav>
  </div>
</header>